body{
    background-color: black;
    color: white;
    font-size: 25px;
    font-family: 'Satisfy';
    word-spacing: 2px;
}
p{
    text-align: justify;
}
h1 ,h2{
    text-align: center;
    color:rgb(255, 145, 0) ;
}
h3{
    color:rgb(255, 145, 0) ;
    font-family: 'Acme';
    text-decoration: underline;
    clear: both;
}
img{
    width: 316px;
    height: 296px;
    float: right;
    margin: 8px;
}